
# Set up the notebook

In [1]:

%pprint

Pretty printing has been turned OFF

In [2]:

import sys

# Insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../py')

from choropleth_utils import ChoroplethUtilities
from stats_scraping_utils import StatsScrapingUtilities
from storage import Storage
import pandas as pd
import re
import os
import numpy as np

s = Storage()
ssu = StatsScrapingUtilities(s=s)

In [3]:

column_description_dict = s.load_object('column_description_dict')
us_stats_df = s.load_object('us_stats_df')

all_countries_df = s.load_object('all_countries_df').set_index('country_code', drop=True)
all_countries_df.country_name = all_countries_df.country_name.map(lambda x: ssu.country_name_dict.get(x, x))
s.store_objects(all_countries_df=all_countries_df.reset_index(drop=False))

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\all_countries_df.pkl


----
# Get State/Country Fertility Rate Equivalents


## Clean and prepare US States dataset

In [4]:

# Downloaded CSV from https://www.cdc.gov/nchs/pressroom/sosmap/fertility_rate/fertility_rates.htm
csv_name = 'fertility_rates_by_us_state'
us_states_df = s.load_csv(csv_name)
# print(us_states_df.columns.tolist())
us_states_df.columns = ['source_year', 'state_abbreviation', 'fertility_rate', 'births_count', 'source_url']
for cn in ['source_year', 'fertility_rate', 'births_count']:
    us_states_df[cn] = us_states_df[cn].map(lambda x: re.sub(r'[^0-9\.]+', '', str(x)))
    us_states_df[cn] = pd.to_numeric(us_states_df[cn], errors='coerce', downcast='integer')
abbreviation_dict = {v: k for k, v in ssu.us_states_abbreviation_dict.items()}
mask_series = us_states_df.state_abbreviation.isnull()
us_states_df = us_states_df[~mask_series]
us_states_df['state_name'] = us_states_df.state_abbreviation.map(lambda x: abbreviation_dict.get(x, x))
us_states_df.source_url = us_states_df.source_url.map(lambda x: 'https://www.cdc.gov' + x)
mask_series = (us_states_df.source_year == 2020)
us_states_df = us_states_df[mask_series]
us_states_df.sample(5).T

,5,40,4,21,20
source_year,2020,2020,2020,2020,2020
state_abbreviation,CO,SD,CA,MI,MA
fertility_rate,51.5,66.7,52.4,55.6,47.6
births_count,61494,10960,420259,104074,66428
source_url,https://www.cdc.gov/nchs/pressroom/states/colo...,https://www.cdc.gov/nchs/pressroom/states/sout...,https://www.cdc.gov/nchs/pressroom/states/cali...,https://www.cdc.gov/nchs/pressroom/states/mich...,https://www.cdc.gov/nchs/pressroom/states/mass...
state_name,Colorado,South Dakota,California,Michigan,Massachusetts

In [5]:

url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_fertility_rate'
tables_list = ssu.get_page_tables(url)

[(0, (57, 14)), (1, (11, 2))]

In [6]:

us_states_df = tables_list[0].copy()
# print(us_states_df.columns.tolist())
columns_list = [f'total_fertility_rate_{i}' for i in range(2008, 2021)]
us_states_df.columns = ['state_name'] + columns_list
for cn in columns_list:
    us_states_df[cn] = us_states_df[cn].map(lambda x: re.sub(r'[^0-9\.]+', '', str(x)))
    us_states_df[cn] = pd.to_numeric(us_states_df[cn], errors='coerce', downcast='integer')
us_states_df.sample(5).T

                                     4        40    0       7               32
state_name                 North Dakota  Montana  Guam  Alaska  North Carolina
total_fertility_rate_2008          2.13     2.08  2.73    2.41            2.12
total_fertility_rate_2009          2.12     1.89  2.66    2.27            2.01
total_fertility_rate_2010          2.04     1.99   3.0    2.35            1.91
total_fertility_rate_2011          2.08     1.96  2.88    2.28            1.86
total_fertility_rate_2012          2.12     1.96  3.15    2.19            1.84
total_fertility_rate_2013          2.14     1.97  2.87    2.22            1.82
total_fertility_rate_2014          2.24     1.95  2.96    2.19            1.83
total_fertility_rate_2015          2.16     1.96  2.93    2.17            1.82
total_fertility_rate_2016          2.17     1.89  3.07    2.14            1.79
total_fertility_rate_2017          2.07      1.8  2.97    2.02            1.77
total_fertility_rate_2018          2.03     1.73  2.85    1.97            1.73
total_fertility_rate_2019           2.0     1.66  2.74    1.94            1.71
total_fertility_rate_2020          1.93      1.6  2.64    1.89            1.66

In [7]:

# Remove DC from the comparison so it doesn't skew the results
mask_series = (us_states_df.state_name.isin(['District of Columbia']))
us_states_df = us_states_df[~mask_series]

In [8]:

# Remove US states duplicates and misspellings
states_list = sorted(set(us_states_df.state_name).symmetric_difference(set(ssu.us_stats_df.index)))
print(states_list)
doubles_df = ssu.check_4_doubles(states_list)
mask_series = (doubles_df.max_similarity > 0.6)
columns_list = ['first_item', 'second_item', 'max_similarity']
if doubles_df[mask_series].shape[0]:
    display(doubles_df[mask_series][columns_list].sort_values('max_similarity', ascending=False))
mask_series = us_states_df.duplicated(subset=['state_name'], keep=False)
if us_states_df[mask_series].shape[0]:
    display(us_states_df[mask_series])

['American Samoa', 'District of Columbia', 'Guam', 'Northern Mariana Is.', 'Puerto Rico', 'Total United States', 'U.S. Virgin Islands']


## Clean and prepare Countries dataset


url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependencies_by_total_fertility_rate'
page_soup = ssu.get_page_soup(url)
tables_df_list = []
table_soups_list = page_soup.find_all('table', attrs={'class': 'wikitable'})
for table_soup in table_soups_list:
    tables_df_list += ssu.get_page_tables(str(table_soup), driver=None, verbose=False)
print(sorted([(i, df.shape) for (i, df) in enumerate(tables_df_list)],
             key=lambda x: x[1][0], reverse=True))

In [9]:

url = 'https://data.worldbank.org/indicator/SP.DYN.TFRT.IN'
# driver = ssu.get_driver()
tables_list = ssu.get_page_tables(url, driver=None)
# driver.close()
if not tables_list:
    tables_list = ssu.get_page_tables('../data/html/world_bank_fertility_rate_by_country.html')
    # page_soup = ssu.get_page_soup(url)
    # tables_df_list = []
    # div_soups_list = page_soup.find_all('div', attrs={'class': 'infinite'})
    # columns_list = []
    # for div_soup in div_soups_list:
    #     title_soups_list = div_soup.find_all('div', attrs={'class': 'title'})
    #     for title_soup in title_soups_list:
    #         print(title_soup.next_sibling)
    #         th_soups_list = title_soup.find_all('div', attrs={'class': 'th'})
    #         for th_soup in th_soups_list:
    #             columns_list.append(th_soup.text.strip())
    # print(columns_list)

No tables found
[]
[(0, (215, 3))]

In [10]:

countries_df = tables_list[0].copy()
print(countries_df.columns.tolist())
columns_list = ['country_name', 'survey_year', 'fertility_rate']
countries_df.columns = columns_list
for cn in ['fertility_rate']:
    countries_df[cn] = countries_df[cn].map(lambda x: re.sub(r'[^0-9\.]+', '', str(x).split(' ')[0]))
    countries_df[cn] = pd.to_numeric(countries_df[cn], errors='coerce', downcast='float')

mask_series = countries_df.country_name.isnull()
countries_df = countries_df[~mask_series][columns_list]

mask_series = countries_df.fertility_rate.isnull()
countries_df = countries_df[~mask_series][columns_list]

countries_df.sample(9).T

['country_name', 'survey_year', 'fertility_rate']

,24,192,146,0,28,122,171,39,108
country_name,Botswana,Togo,Oman,Afghanistan,Burkina Faso,Marshall Islands,Slovak Republic,China,Lebanon
survey_year,2020.0,2020.0,2020.0,2020.0,2020.0,2011.0,2020.0,2020.0,2020.0
fertility_rate,2.8,4.2,2.8,4.2,5.0,4.0,1.6,1.7,2.1

In [11]:

# Remove country duplicates and misspellings
countries_df.country_name = countries_df.country_name.map(lambda x: ssu.country_name_dict.get(x, x))
countries_list = sorted(set(countries_df.country_name).symmetric_difference(set(all_countries_df.country_name)))
if countries_list:
    print(countries_list)
doubles_df = ssu.check_4_doubles(countries_list)
mask_series = (doubles_df.max_similarity > 0.6)
if doubles_df[mask_series].shape[0]:
    columns_list = ['first_item', 'second_item', 'max_similarity']
    display(doubles_df[mask_series][columns_list].sort_values('max_similarity', ascending=False))

['American Samoa', 'Anguilla', 'Antarctica', 'Bonaire, Sint Eustatius & Saba', 'Bouvet Island', 'British Indian Ocean Territory', 'British Virgin Islands', 'Cabo Verde', 'Cayman Islands', 'Channel Islands', 'Christmas Island', 'Cocos (Keeling) Islands', 'Cook Islands', 'Egypt', 'Egypt, Arab Rep.', 'Falkland Islands (Malvinas)', 'Federated States of Micronesia', 'French Guiana', 'French Southern Territories', 'Gibraltar', 'Guadeloupe', 'Guernsey', 'Heard Island & McDonald Islands', 'Holy See', 'Iran', 'Iran, Islamic Rep.', 'Jersey', 'Kosovo', 'Martinique', 'Mayotte', 'Micronesia, Fed. Sts.', 'Monaco', 'Montserrat', 'Nauru', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Palestine', 'Pitcairn', 'ROC', 'Réunion', 'South Georgia & the South Sandwich Islands', 'St. Barthélemy', 'St. Helena, Ascension & Tristan da Cunha', 'St. Martin', 'St. Martin (French part)', 'St. Pierre & Miquelon', 'Svalbard & Jan Mayen', 'Taiwan', 'Tokelau', 'Turks & Caicos Islands', 'Tuvalu', 'United States Minor Outlying Islands', 'Wallis & Futuna', 'West Bank and Gaza', 'Western Sahara', 'Åland Islands']

                 first_item      second_item  max_similarity
12             Cook Islands   Norfolk Island        0.769231
8            Cayman Islands  Channel Islands        0.758621
9           Channel Islands    Åland Islands        0.714286
21                 Guernsey           Jersey        0.714286
4             Bouvet Island     Cook Islands        0.640000
11  Cocos (Keeling) Islands     Cook Islands        0.628571

In [12]:

# These countries cause redditors to make hurtful comments *sniff*
country_set = set(all_countries_df.country_name) - set(ssu.derisable_countries_list)
mask_series = countries_df.country_name.isin(country_set)
countries_df = countries_df[mask_series]

mask_series = countries_df.duplicated(subset=['country_name'], keep=False)
if countries_df[mask_series].shape[0]:
    display(countries_df[mask_series].sort_values('country_name'))

In [13]:

s.store_objects(fertility_countries_df=countries_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\fertility_countries_df.pkl


## Prepare for and Create Choropleth

In [22]:

equivalence_column_name = 'Country_Equivalent_Fertility_Rate'
states_target_column_name = 'total_fertility_rate_2020'
mask_series = countries_df.country_name.isin(all_countries_df.country_name)
ssu.prepare_for_choroplething(countries_df[mask_series], 'fertility_rate', us_states_df,
                              st_col_name=states_target_column_name,
                              st_col_explanation='Fertility_Rate (2020)',
                              equivalence_column_name=equivalence_column_name, verbose=True)

Afghanistan (4.20) is close to the fertility rate of Guam (2.64)
Albania (1.60) is close to the fertility rate of Nevada (1.60)
Algeria (2.90) is close to the fertility rate of Guam (2.64)
Andorra (1.30) is close to the fertility rate of Vermont (1.36)
Angola (5.40) is close to the fertility rate of Guam (2.64)
Antigua & Barbuda (2) is close to the fertility rate of South Dakota (1.98)
Argentina (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Armenia (1.80) is close to the fertility rate of Kentucky (1.80)
Aruba (1.90) is close to the fertility rate of Alaska (1.89)
Australia (1.60) is close to the fertility rate of Nevada (1.60)
Austria (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Azerbaijan (1.70) is close to the fertility rate of Tennessee (1.70)
Bahamas (1.70) is close to the fertility rate of Tennessee (1.70)
Bahrain (1.90) is close to the fertility rate of Alaska (1.89)
Bangladesh (2) is close to the fertility rate of South Dakota (1.98)
Barbados (1.60) is close to the fertility rate of Nevada (1.60)
Belarus (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Belgium (1.60) is close to the fertility rate of Nevada (1.60)
Belize (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Benin (4.70) is close to the fertility rate of Guam (2.64)
Bermuda (1.30) is close to the fertility rate of Vermont (1.36)
Bhutan (1.90) is close to the fertility rate of Alaska (1.89)
Bolivia (2.70) is close to the fertility rate of Guam (2.64)
Bosnia & Herzegovina (1.20) is close to the fertility rate of Vermont (1.36)
Botswana (2.80) is close to the fertility rate of Guam (2.64)
Brazil (1.70) is close to the fertility rate of Tennessee (1.70)
Brunei (1.80) is close to the fertility rate of Kentucky (1.80)
Bulgaria (1.60) is close to the fertility rate of Nevada (1.60)
Burkina Faso (5) is close to the fertility rate of Guam (2.64)
Burundi (5.20) is close to the fertility rate of Guam (2.64)
Cambodia (2.50) is close to the fertility rate of Northern Mariana Is. (2.41)
Cameroon (4.40) is close to the fertility rate of Guam (2.64)
Canada (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Central African Republic (4.60) is close to the fertility rate of Guam (2.64)
Chad (5.60) is close to the fertility rate of Guam (2.64)
Chile (1.60) is close to the fertility rate of Nevada (1.60)
China (1.70) is close to the fertility rate of Tennessee (1.70)
Colombia (1.80) is close to the fertility rate of Kentucky (1.80)
Comoros (4.10) is close to the fertility rate of Guam (2.64)
Costa Rica (1.70) is close to the fertility rate of Tennessee (1.70)
Croatia (1.50) is close to the fertility rate of Connecticut (1.51)
Cuba (1.60) is close to the fertility rate of Nevada (1.60)
Curaçao (1.60) is close to the fertility rate of Nevada (1.60)
Cyprus (1.30) is close to the fertility rate of Vermont (1.36)
Czechia (1.70) is close to the fertility rate of Tennessee (1.70)
Côte d'Ivoire (4.50) is close to the fertility rate of Guam (2.64)
DRC (5.70) is close to the fertility rate of Guam (2.64)
Denmark (1.70) is close to the fertility rate of Tennessee (1.70)
Djibouti (2.60) is close to the fertility rate of Guam (2.64)
Dominica (1.90) is close to the fertility rate of Alaska (1.89)
Dominican Republic (2.30) is close to the fertility rate of Northern Mariana Is. (2.41)
Ecuador (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
El Salvador (2) is close to the fertility rate of South Dakota (1.98)
Equatorial Guinea (4.30) is close to the fertility rate of Guam (2.64)
Eritrea (3.90) is close to the fertility rate of Guam (2.64)
Estonia (1.60) is close to the fertility rate of Nevada (1.60)
Eswatini (2.90) is close to the fertility rate of Guam (2.64)
Ethiopia (4) is close to the fertility rate of Guam (2.64)
Faroe Islands (2.30) is close to the fertility rate of Northern Mariana Is. (2.41)
Fiji (2.70) is close to the fertility rate of Guam (2.64)
Finland (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
France (1.80) is close to the fertility rate of Kentucky (1.80)
French Polynesia (1.90) is close to the fertility rate of Alaska (1.89)
Gabon (3.90) is close to the fertility rate of Guam (2.64)
Gambia (5.10) is close to the fertility rate of Guam (2.64)
Georgia (2) is close to the fertility rate of South Dakota (1.98)
Germany (1.50) is close to the fertility rate of Connecticut (1.51)
Ghana (3.80) is close to the fertility rate of Guam (2.64)
Greece (1.30) is close to the fertility rate of Vermont (1.36)
Greenland (2) is close to the fertility rate of South Dakota (1.98)
Grenada (2) is close to the fertility rate of South Dakota (1.98)
Guam (2.30) is close to the fertility rate of Northern Mariana Is. (2.41)
Guatemala (2.80) is close to the fertility rate of Guam (2.64)
Guinea (4.60) is close to the fertility rate of Guam (2.64)
Guinea-Bissau (4.30) is close to the fertility rate of Guam (2.64)
Guyana (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
Haiti (2.80) is close to the fertility rate of Guam (2.64)
Honduras (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
Hungary (1.60) is close to the fertility rate of Nevada (1.60)
Iceland (1.70) is close to the fertility rate of Tennessee (1.70)
India (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Indonesia (2.30) is close to the fertility rate of Northern Mariana Is. (2.41)
Iraq (3.50) is close to the fertility rate of Guam (2.64)
Ireland (1.60) is close to the fertility rate of Nevada (1.60)
Isle of Man (1.60) is close to the fertility rate of Nevada (1.60)
Israel (2.90) is close to the fertility rate of Guam (2.64)
Italy (1.20) is close to the fertility rate of Vermont (1.36)
Jamaica (1.90) is close to the fertility rate of Alaska (1.89)
Japan (1.30) is close to the fertility rate of Vermont (1.36)
Jordan (2.60) is close to the fertility rate of Guam (2.64)
Kazakhstan (3.10) is close to the fertility rate of Guam (2.64)
Kenya (3.40) is close to the fertility rate of Guam (2.64)
Kiribati (3.50) is close to the fertility rate of Guam (2.64)
Kuwait (2.10) is close to the fertility rate of South Dakota (1.98)
Latvia (1.60) is close to the fertility rate of Nevada (1.60)
Lebanon (2.10) is close to the fertility rate of South Dakota (1.98)
Lesotho (3.10) is close to the fertility rate of Guam (2.64)
Liberia (4.20) is close to the fertility rate of Guam (2.64)
Libya (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Liechtenstein (1.50) is close to the fertility rate of Connecticut (1.51)
Lithuania (1.50) is close to the fertility rate of Connecticut (1.51)
Luxembourg (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Madagascar (4) is close to the fertility rate of Guam (2.64)
Malawi (4.10) is close to the fertility rate of Guam (2.64)
Malaysia (2) is close to the fertility rate of South Dakota (1.98)
Maldives (1.80) is close to the fertility rate of Kentucky (1.80)
Mali (5.70) is close to the fertility rate of Guam (2.64)
Malta (1.10) is close to the fertility rate of Puerto Rico (0.92)
Marshall Islands (4) is close to the fertility rate of Guam (2.64)
Mauritania (4.40) is close to the fertility rate of Guam (2.64)
Mauritius (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Mexico (2.10) is close to the fertility rate of South Dakota (1.98)
Moldova (1.30) is close to the fertility rate of Vermont (1.36)
Mongolia (2.80) is close to the fertility rate of Guam (2.64)
Montenegro (1.80) is close to the fertility rate of Kentucky (1.80)
Morocco (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
Mozambique (4.70) is close to the fertility rate of Guam (2.64)
Myanmar (2.10) is close to the fertility rate of South Dakota (1.98)
Namibia (3.30) is close to the fertility rate of Guam (2.64)
Nepal (1.80) is close to the fertility rate of Kentucky (1.80)
Netherlands (1.60) is close to the fertility rate of Nevada (1.60)
New Caledonia (1.90) is close to the fertility rate of Alaska (1.89)
New Zealand (1.60) is close to the fertility rate of Nevada (1.60)
Nicaragua (2.30) is close to the fertility rate of Northern Mariana Is. (2.41)
Niger (6.70) is close to the fertility rate of Guam (2.64)
Nigeria (5.20) is close to the fertility rate of Guam (2.64)
North Korea (1.90) is close to the fertility rate of Alaska (1.89)
North Macedonia (1.30) is close to the fertility rate of Vermont (1.36)
Norway (1.50) is close to the fertility rate of Connecticut (1.51)
Oman (2.80) is close to the fertility rate of Guam (2.64)
Pakistan (3.40) is close to the fertility rate of Guam (2.64)
Palau (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Panama (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
Papua New Guinea (3.50) is close to the fertility rate of Guam (2.64)
Paraguay (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
Peru (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Philippines (2.50) is close to the fertility rate of Northern Mariana Is. (2.41)
Poland (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Portugal (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
Qatar (1.80) is close to the fertility rate of Kentucky (1.80)
Romania (1.60) is close to the fertility rate of Nevada (1.60)
Russia (1.50) is close to the fertility rate of Connecticut (1.51)
Rwanda (3.90) is close to the fertility rate of Guam (2.64)
Samoa (3.80) is close to the fertility rate of Guam (2.64)
San Marino (1.30) is close to the fertility rate of Vermont (1.36)
Saudi Arabia (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Senegal (4.50) is close to the fertility rate of Guam (2.64)
Serbia (1.50) is close to the fertility rate of Connecticut (1.51)
Seychelles (2.30) is close to the fertility rate of Northern Mariana Is. (2.41)
Sierra Leone (4.10) is close to the fertility rate of Guam (2.64)
Singapore (1.10) is close to the fertility rate of Puerto Rico (0.92)
Sint Maarten (2) is close to the fertility rate of South Dakota (1.98)
Slovakia (1.60) is close to the fertility rate of Nevada (1.60)
Slovenia (1.60) is close to the fertility rate of Nevada (1.60)
Solomon Islands (4.30) is close to the fertility rate of Guam (2.64)
Somalia (5.90) is close to the fertility rate of Guam (2.64)
South Africa (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
South Korea (0.80) is close to the fertility rate of Puerto Rico (0.92)
South Sudan (4.50) is close to the fertility rate of Guam (2.64)
Spain (1.20) is close to the fertility rate of Vermont (1.36)
Sri Lanka (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
St. Kitts & Nevis (2.10) is close to the fertility rate of South Dakota (1.98)
St. Lucia (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
St. Vincent & Grenadines (1.90) is close to the fertility rate of Alaska (1.89)
Sudan (4.30) is close to the fertility rate of Guam (2.64)
Suriname (2.40) is close to the fertility rate of Northern Mariana Is. (2.41)
Sweden (1.70) is close to the fertility rate of Tennessee (1.70)
Switzerland (1.50) is close to the fertility rate of Connecticut (1.51)
Syria (2.70) is close to the fertility rate of Guam (2.64)
São Tomé & Príncipe (4.20) is close to the fertility rate of Guam (2.64)
Tajikistan (3.50) is close to the fertility rate of Guam (2.64)
Tanzania (4.80) is close to the fertility rate of Guam (2.64)
Thailand (1.50) is close to the fertility rate of Connecticut (1.51)
Timor-Leste (3.90) is close to the fertility rate of Guam (2.64)
Togo (4.20) is close to the fertility rate of Guam (2.64)
Tonga (3.50) is close to the fertility rate of Guam (2.64)
Trinidad & Tobago (1.70) is close to the fertility rate of Tennessee (1.70)
Tunisia (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Turkiye (2) is close to the fertility rate of South Dakota (1.98)
Turkmenistan (2.70) is close to the fertility rate of Guam (2.64)
UAE (1.40) is close to the fertility rate of U.S. Virgin Islands (1.39)
UK (1.60) is close to the fertility rate of Nevada (1.60)
US Virgin Islands (2) is close to the fertility rate of South Dakota (1.98)
USA (1.60) is close to the fertility rate of Nevada (1.60)
Uganda (4.70) is close to the fertility rate of Guam (2.64)
Ukraine (1.20) is close to the fertility rate of Vermont (1.36)
Uruguay (2) is close to the fertility rate of South Dakota (1.98)
Uzbekistan (2.90) is close to the fertility rate of Guam (2.64)
Vanuatu (3.70) is close to the fertility rate of Guam (2.64)
Venezuela (2.20) is close to the fertility rate of Northern Mariana Is. (2.41)
Vietnam (2) is close to the fertility rate of South Dakota (1.98)
Yemen (3.60) is close to the fertility rate of Guam (2.64)
Zambia (4.50) is close to the fertility rate of Guam (2.64)
Zimbabwe (3.50) is close to the fertility rate of Guam (2.64)

Alabama (1.78) is close to the Fertility_Rate (2020) of Armenia (1.80)
Alaska (1.89) is close to the Fertility_Rate (2020) of Aruba (1.90)
American Samoa (nan) is close to the Fertility_Rate (2020) of Afghanistan (4.20)
Arizona (1.58) is close to the Fertility_Rate (2020) of Albania (1.60)
Arkansas (1.79) is close to the Fertility_Rate (2020) of Armenia (1.80)
California (1.52) is close to the Fertility_Rate (2020) of Croatia (1.50)
Colorado (1.48) is close to the Fertility_Rate (2020) of Croatia (1.50)
Connecticut (1.51) is close to the Fertility_Rate (2020) of Croatia (1.50)
Delaware (1.67) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Florida (1.57) is close to the Fertility_Rate (2020) of Albania (1.60)
Georgia (1.65) is close to the Fertility_Rate (2020) of Albania (1.60)
Guam (2.64) is close to the Fertility_Rate (2020) of Djibouti (2.60)
Hawaii (1.77) is close to the Fertility_Rate (2020) of Armenia (1.80)
Idaho (1.84) is close to the Fertility_Rate (2020) of Armenia (1.80)
Illinois (1.59) is close to the Fertility_Rate (2020) of Albania (1.60)
Indiana (1.77) is close to the Fertility_Rate (2020) of Armenia (1.80)
Iowa (1.82) is close to the Fertility_Rate (2020) of Armenia (1.80)
Kansas (1.82) is close to the Fertility_Rate (2020) of Armenia (1.80)
Kentucky (1.80) is close to the Fertility_Rate (2020) of Armenia (1.80)
Louisiana (1.83) is close to the Fertility_Rate (2020) of Armenia (1.80)
Maine (1.45) is close to the Fertility_Rate (2020) of Croatia (1.50)
Maryland (1.69) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Massachusetts (1.39) is close to the Fertility_Rate (2020) of Austria (1.40)
Michigan (1.63) is close to the Fertility_Rate (2020) of Albania (1.60)
Minnesota (1.72) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Mississippi (1.81) is close to the Fertility_Rate (2020) of Armenia (1.80)
Missouri (1.72) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Montana (1.60) is close to the Fertility_Rate (2020) of Albania (1.60)
Nebraska (1.94) is close to the Fertility_Rate (2020) of Aruba (1.90)
Nevada (1.60) is close to the Fertility_Rate (2020) of Albania (1.60)
New Hampshire (1.41) is close to the Fertility_Rate (2020) of Austria (1.40)
New Jersey (1.74) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
New Mexico (1.61) is close to the Fertility_Rate (2020) of Albania (1.60)
New York (1.57) is close to the Fertility_Rate (2020) of Albania (1.60)
North Carolina (1.66) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
North Dakota (1.93) is close to the Fertility_Rate (2020) of Aruba (1.90)
Northern Mariana Is. (2.41) is close to the Fertility_Rate (2020) of Ecuador (2.40)
Ohio (1.71) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Oklahoma (1.79) is close to the Fertility_Rate (2020) of Armenia (1.80)
Oregon (1.39) is close to the Fertility_Rate (2020) of Austria (1.40)
Pennsylvania (1.61) is close to the Fertility_Rate (2020) of Albania (1.60)
Puerto Rico (0.92) is close to the Fertility_Rate (2020) of South Korea (0.80)
Rhode Island (1.43) is close to the Fertility_Rate (2020) of Austria (1.40)
South Carolina (1.64) is close to the Fertility_Rate (2020) of Albania (1.60)
South Dakota (1.98) is close to the Fertility_Rate (2020) of Antigua & Barbuda (2)
Tennessee (1.70) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Texas (1.78) is close to the Fertility_Rate (2020) of Armenia (1.80)
Total United States (1.64) is close to the Fertility_Rate (2020) of Albania (1.60)
U.S. Virgin Islands (1.39) is close to the Fertility_Rate (2020) of Austria (1.40)
Utah (1.92) is close to the Fertility_Rate (2020) of Aruba (1.90)
Vermont (1.36) is close to the Fertility_Rate (2020) of Austria (1.40)
Virginia (1.64) is close to the Fertility_Rate (2020) of Albania (1.60)
Washington (1.54) is close to the Fertility_Rate (2020) of Croatia (1.50)
West Virginia (1.65) is close to the Fertility_Rate (2020) of Albania (1.60)
Wisconsin (1.66) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Wyoming (1.69) is close to the Fertility_Rate (2020) of Azerbaijan (1.70)
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\us_stats_df.pkl
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\column_description_dict.pkl

In [23]:

c = ChoroplethUtilities(iso_3166_2_code='us', one_country_df=ssu.us_stats_df, all_countries_df=all_countries_df)
c.create_label_line_file()
svg_file_path = c.create_country_colored_labeled_map(
    numeric_column_name=states_target_column_name, string_column_name=equivalence_column_name,
    one_country_df=ssu.us_stats_df, cmap='summer')
print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\US_total_fertility_rate_2020_Country_Equivalent_Fertility_Rate.svg