In [1]:

%pprint
import sys
sys.path.insert(1, '../py')

Pretty printing has been turned OFF

In [2]:

from StatsByUSState import nu, cu, scu, ssu
import re

In [3]:

nu.list_dfs_in_folder()

['all_countries_df', 'column_descriptions_df', 'counties_df', 'county_populations_df', 'gdp_us_cities_df', 'gdp_us_states_df', 'income_inequality_us_states_df', 'one_country_df', 'race_homicide_rate_by_state_year_df', 'state_merge_df', 'state_race_df', 'usa_df', 'us_murder_df', 'us_perps_df', 'us_states_df', 'us_stats_df']

In [4]:

nus_list = [f'nu.{fn}' for fn in dir(nu) if not fn.startswith('_')]
cus_list = [f'cu.{fn}' for fn in dir(cu) if not fn.startswith('_')]
scus_list = [f'scu.{fn}' for fn in dir(scu) if not fn.startswith('_')]
ssus_list = [f'ssu.{fn}' for fn in dir(ssu) if not fn.startswith('_')]
# sorted(nus_list + cus_list + scus_list + ssus_list, key=lambda x: x[::-1])

In [5]:

[fn for fn in sorted(nus_list + cus_list + scus_list + ssus_list, key=lambda x: x[::-1]) if 'wiki' in fn]

['nu.get_wiki_tables']

In [6]:

[fn for fn in sorted(nus_list + cus_list + scus_list + ssus_list, key=lambda x: x[::-1]) if fn.endswith('_df')]

['cu.all_countries_df', 'ssu.us_stats_df', 'cu.one_country_df']


----
# US State Temperature Extremes

In [8]:

if nu.pickle_exists('extreme_temperatures_states_df'): extreme_temperatures_states_df = nu.load_object('extreme_temperatures_states_df')
else:
    tables_url = 'https://en.wikipedia.org/wiki/U.S._state_and_territory_temperature_extremes'
    page_tables_list = nu.get_wiki_tables(tables_url, verbose=False)
    extreme_temperatures_states_df = page_tables_list[0].copy().applymap(lambda x: str(x).split('[')[0].strip().replace('−', '-'))
    # print(extreme_temperatures_states_df.columns.tolist())
    extreme_temperatures_states_df.columns = ['state_name', 'record_high', 'high_date', 'high_place', 'record_low', 'low_date', 'low_place', 'temperature_diff']
    for cn in ['record_high', 'record_low', 'temperature_diff']:
        extreme_temperatures_states_df[f'{cn}_fahrenheit'] = extreme_temperatures_states_df[cn].map(lambda x: float(re.split(r'([\d.-]+)', str(x), 0)[1]))
        extreme_temperatures_states_df[f'{cn}_celsius'] = extreme_temperatures_states_df[cn].map(lambda x: float(re.split(r'([\d.-]+)', str(x), 0)[3]))
    extreme_temperatures_states_df = extreme_temperatures_states_df.set_index('state_name')
    nu.store_objects(extreme_temperatures_states_df=extreme_temperatures_states_df)
extreme_temperatures_states_df.sample(13).T

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByUSState\saves\pkl\extreme_temperatures_states_df.pkl

state_name,American Samoa,Idaho,Nevada,Missouri,New York,Rhode Island,Guam,Alabama,Pennsylvania,Kansas,Utah,Virgin Islands (U.S.),Wyoming
record_high,99 °F (37.2 °C),118 °F (47.8 °C),125 °F (51.7 °C),118 °F (47.8 °C),108 °F (42.2 °C),104 °F (40 °C),100 °F (37.8 °C),112 °F (44.4 °C),111 °F (43.9 °C),121 °F (49.4 °C),118 °F (47.8 °C),99 °F (37.2 °C),115 °F (46.1 °C)
high_date,"April 27, 1972","July 28, 1934","June 29, 1994","July 14, 1954","July 22, 1926","August 2, 1975","September 10, 1945","September 6, 1925","July 10, 1936","July 24, 1936","July 4, 2007","June 23, 1996","August 8, 1983"
high_place,Malaeloa/Aitulagi,Orofino,Laughlin,Warsaw,Troy,Providence,Sånta Rita-Sumai,Centreville,Phoenixville,Alton,St. George,Charlotte Amalie West (Cyril E. King Airport),Basin
record_low,53 °F (11.7 °C),-60 °F (-51.1 °C),-50 °F (-45.6 °C),-40 °F (-40 °C),-52 °F (-46.7 °C),-28 °F (-33.3 °C),56 °F (13.3 °C),-27 °F (-32.8 °C),-42 °F (-41.1 °C),-40 °F (-40.0 °C),-69 °F (-56.1 °C),51 °F (10.6 °C),-63 °F (-52.8 °C)
low_date,"March 28, 1962","January 18, 1943","January 8, 1937","February 13, 1905","February 18, 1979","January 17, 1942","May 31, 1987","January 30, 1966","January 5, 1904","February 13, 1905","February 1, 1985","January 31, 1954","February 9, 1933"
low_place,Malaeloa/Aitulagi,Island Park,San Jacinto,Warsaw,Old Forge,Richmond,Inalåhan,New Market,Smethport,Lebanon,Peter Sinks,Anna's Hope (Saint Croix),Moran
temperature_diff,46 °F (25.6 °C),178 °F (98.9 °C),175 °F (97.2 °C),158 °F (87.8 °C),160 °F (88.9 °C),132 °F (73.3 °C),44 °F (24.4 °C),139 °F (77.2 °C),153 °F (85 °C),161 °F (89.4 °C),187 °F (103.9 °C),48 °F (26.7 °C),178 °F (98.9 °C)
record_high_fahrenheit,99.0,118.0,125.0,118.0,108.0,104.0,100.0,112.0,111.0,121.0,118.0,99.0,115.0
record_high_celsius,37.2,47.8,51.7,47.8,42.2,40.0,37.8,44.4,43.9,49.4,47.8,37.2,46.1
record_low_fahrenheit,53.0,-60.0,-50.0,-40.0,-52.0,-28.0,56.0,-27.0,-42.0,-40.0,-69.0,51.0,-63.0
record_low_celsius,11.7,-51.1,-45.6,-40.0,-46.7,-33.3,13.3,-32.8,-41.1,-40.0,-56.1,10.6,-52.8
temperature_diff_fahrenheit,46.0,178.0,175.0,158.0,160.0,132.0,44.0,139.0,153.0,161.0,187.0,48.0,178.0
temperature_diff_celsius,25.6,98.9,97.2,87.8,88.9,73.3,24.4,77.2,85.0,89.4,103.9,26.7,98.9

In [9]:

# Remove US states duplicates and misspellings
states_list = sorted(set(extreme_temperatures_states_df.index).symmetric_difference(set(ssu.us_stats_df.index)))
print(states_list)

['American Samoa', 'Guam', 'Northern Mariana Islands', 'Puerto Rico', 'Virgin Islands (U.S.)']

In [10]:

doubles_df = nu.check_4_doubles(states_list)
mask_series = (doubles_df.max_similarity > 0.6)
columns_list = ['first_item', 'second_item', 'max_similarity']
doubles_df[mask_series][columns_list].sort_values('max_similarity', ascending=False)

Empty DataFrame
Columns: [first_item, second_item, max_similarity]
Index: []

In [11]:

if not set(cu.one_country_df.columns).intersection(set(extreme_temperatures_states_df.columns)):
    cu.one_country_df = cu.one_country_df.merge(extreme_temperatures_states_df, left_index=True, right_index=True)
    nu.store_objects(one_country_df=cu.one_country_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByUSState\saves\pkl\one_country_df.pkl


## Prepare for and Create Choropleths

In [12]:

# You don't have to close the Notepad++ window after you're finished in order to completely run this cell
numeric_column_name = 'temperature_diff_celsius'
string_column_name = 'district_abbreviation'
if (numeric_column_name in cu.one_country_df.columns) and (string_column_name in cu.one_country_df.columns): cu.edit_and_display_svg(numeric_column_name, string_column_name, verbose=True)

Opening C:\Users\daveb\OneDrive\Documents\GitHub\StatsByUSState\saves\svg\US_temperature_diff_celsius_district_abbreviation.svg in Notepad++
Creating C:\Users\daveb\OneDrive\Documents\GitHub\StatsByUSState\saves\png\US_temperature_diff_celsius_district_abbreviation.png